#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/{
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            label = "holdtap";
        };
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
            label = "modtog";
        };
    };
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&trans  &trans       &trans      &trans        &trans      &trans            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &kp Q        &kp W       &kp F         &kp P       &kp B             &kp J           &kp L            &kp U      &kp Y       &kp SEMI       &trans
&trans  &ht LCTRL A  &ht LALT R  &ht LGUI S    &ht LSHFT T &ht TAB G         &ht TAB M       &ht LSHFT N      &ht LGUI E &ht LALT I  &ht LCTRL O    &trans
&trans  &kp Z        &kp X       &kp C         &kp D       &kp V             &kp K           &kp H            &kp COMMA  &kp PERIOD  &kp SLASH      &trans
                     &kp LSHFT   &kp SPACE     &mo_tog 4 4                   &lt 2 ENTER     &lt 1 BSPC
                                        &trans     &trans                    &trans
            >;
            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&trans  &trans     &trans     &trans        &trans     &trans        &trans      &trans     &trans     &trans      &trans         &trans
&trans  &kp N1     &kp N2     &kp N3        &kp N4     &kp N5        &kp N6      &kp N7     &kp N8     &kp N9      &kp N0         &trans
&trans  &kp TAB    &kp GRAVE  &kp C_PREV    &kp C_PP   &kp C_NEXT    &kp SQT     &kp LARW   &kp DARW   &kp UARW    &kp RARW       &trans
&trans  &caps_word &trans     &trans        &trans     &kp LALT	     &trans      &kp HOME   &kp PG_DN  &kp PG_UP   &kp END        &trans
                              &trans        &trans     &trans        &trans      &trans
                                            &trans     &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans   &trans    &trans      &trans     &trans            &trans    &trans   &trans     &trans      &trans      &trans
&trans  &kp ESC  &trans    &trans      &trans     &trans            &kp F1    &kp F2   &kp F3     &kp F4      &kp DEL     &trans
&trans  &kp TAB  &kp LBKT  &kp LBRC    &kp LPAR   &kp EQUAL         &kp F5    &kp F6   &kp F7     &kp F8      &kp SQT     &trans
&trans  &kp BSLH &kp RBKT  &kp RBRC    &kp RPAR   &kp MINUS         &kp F9    &kp F10  &kp F11    &kp F12     &trans      &trans
                           &trans      &trans     &trans            &trans          &trans
                                       &trans     &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans       &trans     &trans     &trans     &trans          &trans     &trans     &trans     &trans    &trans      &trans
&trans  &trans       &trans     &trans     &trans     &bt BT_SEL 0    &tog 6     &trans     &trans     &trans    &trans      &trans
&trans  &bootloader  &trans     &trans     &trans     &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader &trans
&trans  &trans       &trans     &bt BT_CLR &trans     &bt BT_SEL 2    &trans     &trans     &trans     &trans    &trans      &trans
                        &trans          &trans     &trans             &trans          &trans
                                        &trans     &trans             &trans
            >;
        };

        mouse_layer {
            bindings = <
&kp ESC &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans         &trans      &trans         &trans
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans         &trans      &to 6          &trans
&trans  &trans  &trans  &trans          &trans     &trans            &mkp MCLK       &mkp LCLK        &mkp RCLK      &mo_tog 5 5 &trans         &trans
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &kp PG_DN        &kp PG_UP      &trans      &trans         &trans
                        &trans          &trans     &trans            &trans          &trans
                                        &trans     &trans            &trans
            >;
        };

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &trans  &trans  &trans          &trans     &trans            &mkp MCLK       &mkp LCLK        &mkp RCLK  &trans      &trans         &trans
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
                        &trans          &trans     &trans            &trans          &trans
                                        &trans     &trans            &trans
            >;
            trackball-bindings = <&tsl>;
        };
        game_layer {
            bindings = <
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &kp Q   &kp W   &kp E           &kp R      &kp T             &trans          &trans           &trans     &trans      &to 0          &trans
&trans  &kp A   &kp S   &kp D           &kp F      &kp G             &trans          &trans           &trans     &trans      &trans         &trans
&trans  &kp Z   &kp X   &kp C           &kp D      &kp LCTRL          &trans          &trans           &trans     &trans      &trans         &trans
                        &kp LSHFT       &kp SPACE  &mo_tog 7 7            &trans          &trans
                                        &trans     &trans            &trans
            >;
            trackball-bindings = <&tsl>;
        };
        game_layer2 {
            bindings = <
&trans  &trans  &trans  &trans          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &kp ESC &kp N1  &kp N2          &kp N3     &kp N4            &trans          &trans           &trans     &trans      &to 0          &trans
&trans  &kp TAB &kp N5  &kp N6          &kp N7     &kp N8            &trans          &trans           &trans     &trans      &trans         &trans
&trans  &trans  &kp N9  &kp N0          &trans     &trans            &trans          &trans           &trans     &trans      &trans         &trans
                        &trans          &trans     &to 6            &trans          &trans
                                        &trans     &trans            &trans
            >;
            trackball-bindings = <&tsl>;
        };
    };
};
