#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&none           &none  &none  &none         &none      &none    &none  &none      &none      &none    &none      &none
&kp TAB         &kp Q  &kp W  &kp E         &kp R      &kp T    &kp Y  &kp U      &kp I      &kp O    &kp P      &kp BACKSPACE
&kp LCTRL       &kp A  &kp S  &kp D         &kp F      &kp G    &kp H  &kp J      &kp K      &kp L    &kp SEMI   &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V      &kp B    &kp N  &kp M      &kp COMMA  &kp DOT  &kp SLASH  &kp LEFT_WIN
                              &kp LEFT_ALT  &mkp LCLK  &mo 1    &mo 2  &kp SPACE
                                            &none      &none    &none
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        nLay {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans     &trans         &trans        &trans        &trans        &trans            &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F10   &kp F11    &kp GRAVE      &kp N7        &kp N8        &kp N9        &kp MINUS         &kp DELETE
&trans  &kp F4  &kp F5  &kp F6  &mkp MB2  &trans     &kp BACKSLASH  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL         &kp SQT
&trans  &kp F1  &kp F2  &kp F3  &kp F12   &kp ESC    &trans         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                        &trans  &trans    &trans     &trans         &kp N0
                                &trans    &trans     &trans
            >;

            trackball-bindings = <&tmv_fine>;
        };

        dLay {
            bindings = <
&trans  &trans             &trans                &trans            &trans              &trans    &trans  &trans          &trans          &trans           &trans  &trans
&trans  &kp C_VOLUME_UP    &kp C_AC_SCROLL_DOWN  &kp HOME          &kp PAGE_UP         &trans    &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &kp C_VOLUME_DOWN  &kp C_AC_SCROLL_UP    &kp END           &kp PAGE_DOWN       &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &kp C_MUTE         &kp C_PREVIOUS        &kp C_PLAY_PAUSE  &kp C_FAST_FORWARD  &trans    &trans  &trans          &trans          &trans           &trans  &trans
                                                 &trans            &trans              &trans    &trans  &tog 3
                                                                   &trans              &trans    &trans
            >;

            trackball-bindings = <&tsl>;
        };

        Bluetooth {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none         &none         &none         &none       &none
&none  &none  &none  &none  &none  &none    &none  &none         &none         &none         &none       &none
&none  &none  &none  &none  &none  &none    &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bootloader
&none  &none  &none  &none  &none  &none    &none  &none         &none         &none         &none       &none
                     &none  &none  &none    &none  &tog 3
                            &none  &none    &none
            >;
        };
    };
};
