#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";

        langchange {
            bindings = <&kp LG(SPACE)>;
            key-positions = <17 18>;
        };
    };

    behaviors {
        homerow: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans                 &trans            &trans               &trans               &trans       &trans     &trans                &trans                &trans            &trans                     &trans
&trans  &kp Q                  &kp W             &kp E                &kp R                &kp T        &kp Y      &kp U                 &kp I                 &kp O             &kp P                      &trans
&trans  &homerow LEFT_SHIFT A  &homerow LCTRL S  &homerow LEFT_ALT D  &homerow LEFT_WIN F  &kp G        &kp H      &homerow RIGHT_WIN J  &homerow RIGHT_ALT K  &homerow RCTRL L  &homerow RIGHT_SHIFT SEMI  &trans
&trans  &kp Z                  &kp X             &kp C                &kp V                &kp B        &kp N      &kp M                 &kp COMMA             &kp DOT           &kp FSLH                   &trans
                                                 &lt 3 ESC            &lt 1 SPACE          &lt 2 TAB    &kp ENTER  &kp BACKSPACE
                                                                      &trans               &trans       &trans
            >;

        };

        layer_1 {
            bindings = <
&trans  &trans       &trans      &trans   &trans             &trans      &trans           &trans                &trans                 &trans        &trans         &trans
&trans  &kp N6       &kp N7      &kp N8   &kp N9             &kp N0      &kp EXCLAMATION  &kp LBKT              &kp RBKT               &kp ASTERISK  &kp AMPERSAND  &trans
&trans  &kp N1       &kp N2      &kp N3   &kp N4             &kp N5      &kp EQUAL        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS      &kp PERCENT    &trans
&trans  &kp AT_SIGN  &kp DOLLAR  &kp SQT  &kp DOUBLE_QUOTES  &kp HASH    &kp UNDERSCORE   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS     &kp BSLH       &trans
                                 &mo 3    &mo 1              &mo 2       &kp ENTER        &kp BACKSPACE
                                          &trans             &trans      &trans
            >;

        };

        layer_2 {
            bindings = <
&trans  &trans          &trans     &trans     &trans     &trans       &trans     &trans          &trans        &trans     &trans        &trans
&trans  &trans          &trans     &trans     &trans     &trans       &trans     &kp HOME        &kp UP_ARROW  &kp END    &kp CAPSLOCK  &trans
&trans  &kp LEFT_SHIFT  &kp LCTRL  &mkp RCLK  &mkp LCLK  &mkp MCLK    &trans     &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans        &trans
&trans  &trans          &trans     &trans     &trans     &trans       &trans     &trans          &trans        &trans     &trans        &trans
                                   &mo 3      &mo 1      &mo 2        &kp ENTER  &kp BACKSPACE
                                              &trans     &trans       &trans
            >;

        };

        layer_3 {
            bindings = <
&trans  &trans          &trans     &trans     &trans     &trans       &trans        &trans         &trans        &trans        &trans      &trans
&trans  &trans          &trans     &trans     &trans     &trans       &trans        &trans         &trans        &trans        &trans      &trans
&trans  &kp LEFT_SHIFT  &kp LCTRL  &mkp RCLK  &mkp LCLK  &mkp MCLK    &trans        &trans         &trans        &trans        &trans      &trans
&trans  &trans          &trans     &trans     &trans     &trans       &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR  &trans
                                   &mo 3      &mo 1      &mo 2        &kp ENTER     &kp BACKSPACE
                                              &trans     &trans       &trans
            >;
        };
    };
};
